body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: var(--thirdly);
  width: 100vw;
  position: relative;
}

body::before {
  background-image:
    url('./img/Frame\ 41.png');
  background-repeat: repeat;
  background-size: 20%;
  mix-blend-mode: luminosity;
  opacity: 15%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
}

nav {
  display: flex;
  align-content: center;
  justify-content: start;
  gap: var(--sectionSpacing);
}

nav.scroll {
  background: var(--sixthly);
  transition: background 0.3s ease;
}

nav.scrollDown {
  background: var(--sixthly);
  transition: background 0.3s ease;
}

nav.scrollUp {
  background: #2f1b1400;
  transition: background 0.3s ease;
}

nav span {
  display: flex;
  justify-content: space-between;
}

nav span:nth-of-type(1) {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

nav span:nth-of-type(1) li {
  list-style: none;
  position: relative;
}

.options,
.noOptions {
  position: absolute;
  z-index: 999;
  transition: opacity 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
}

.options {
  opacity: 1;
  padding: 0;
  pointer-events: auto;
  transform: translateY(0);
  display: grid;
}

.noOptions {
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
}

.options button {
  background-color: var(--fifthly);
  animation: translateYDown 0.25s ease-in-out forwards;
  transform: translateY(-30px);
  opacity: 0;
  margin: 0;
  padding: calc(var(--space) / 2);
  transition: background 0.25s ease-in-out;
}

@keyframes translateYDown {
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.options button:hover {
  background: var(--primary);
}

.link {
  border: none;
  width: 100%;
  position: relative;
  display: inline-block;
  background: none;
  z-index: 1000;
  pointer-events: all;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 5px;
  background: var(--fourthly);
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

nav span p {
  height: 100%;
  display: flex;
}

nav span li {
  width: 100%;
}

nav>p {
  color: var(--sixthly);
}

nav span li p,
nav span button p {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: min-content;
  margin: var(--border) 0;
  color: var(--sixthly);
}

nav span li:nth-of-type(2)+button p,
nav span li:nth-of-type(2)+button+button p,
nav span:nth-of-type(3) button p {
  transition: font-size 0.1s ease-in-out;
}

nav span li:nth-of-type(2)+button p:hover,
nav span li:nth-of-type(2)+button+button p:hover,
nav span:nth-of-type(3) button p:hover {
  font-size: 0.7rem;
}

nav span:nth-of-type(1) p {
  max-width: 100%;
  white-space: nowrap;
}

nav span:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: scale 0.1s ease-in-out;
  flex-grow: 0;
}

nav span:nth-of-type(2):hover {
  scale: 1.1;
}

nav span:nth-of-type(3) {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: var(--space);
  flex-grow: 1;
}

nav span:nth-of-type(3) li {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
}

nav span:nth-of-type(3) li a {
  transition: scale 0.1s ease-in-out;
}

nav span:nth-of-type(3) li a:hover {
  scale: 1.2;
}

nav span:nth-of-type(3)>p {
  border: 4px solid var(--fourthly);
  color: var(--fourthly);
  border-radius: 10px;
  padding: calc(var(--space) / 2);
  transition: 0.1s ease-in;
}

nav span:nth-of-type(3)>p:hover {
  padding: 0.2rem var(--space);
}

.smpkLogo {
  width: 3rem;
  height: 3rem;
  position: relative;
  transform: translateY(0);
  border: none;
  background: none;
}

.outline {
  width: 4rem;
  height: 4rem;
}

.pageTitle {
  position: relative;
  white-space: wrap;
  z-index: 1;
}

article:nth-of-type(1) button {
  z-index: 1;
  background: none;
  border: none;
}

.pageTitle t,
.pageTitle h1 {
  margin: 0;
  padding: 0;
  line-height: 110%;
  text-align: center;
  filter: drop-shadow(2px 4px 2px #2f1b14d8);
}

.timeline line {
  width: 20px;
  position: relative;
  background: var(--fifthly);
  border-radius: var(--border);
}

.timeline span {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.timeline span li li {
  position: relative;
  overflow: hidden;
  background: var(--secondary);
  margin: 0;
}

.timeline span li ol {
  width: 2rem;
  height: 10px;
  background: var(--fifthly);
}

.timeline span li {
  display: flex;
  align-items: center;
  overflow: visible;
  width: 100%;
  position: relative;
}

.timeline span li li .titleContainer {
  background: var(--fifthly);
  padding: 1rem;
  width: 50%;
  height: min-content;
}

.timeline span li ul {
  position: absolute;
  width: 20px;
  height: 60px;
  right: 0;
  transform: translateX(40px);
  z-index: 2;
  border-radius: 100%;
  background: var(--thirdly);
  border: 5px solid var(--fifthly);
}

.timeline span ul {
  height: 10rem;
  margin: 0;
}

#Map {
  fill: #F8E79F;
}

.st1 {
  fill: #A08A2C;
}

.st2 {
  fill: none;
}

.st3 {
  font-family: 'BoucherieBlock-Bold';
}

.st4 {
  font-size: 23px;
}

.mapContainer {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
}

.Wings {
  transform: translateX(180px) translateY(-130px);
}

.StMarkIcon {
  position: absolute;
  width: 100%;
  height: 180%;
  top: -30%;
}

.pageTitle t {
  text-align: center;
  display: block;
}

.PK {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-15%);
  opacity: 100%;
  z-index: 0;
  mix-blend-mode: darken;
}

.SM {
  position: absolute;
  top: 0;
  transform: translateX(15%);
  right: 0;
  opacity: 100%;
  z-index: 0;
  mix-blend-mode: darken;
}

.PK002,
.SM002 {
  position: absolute;
  top: 0%;
  z-index: 0;
  opacity: 30%;
  z-index: 0;
  mix-blend-mode: darken;
}

.PK002 {
  left: 0;
  transform: translateX(-15%);
}

.SM002 {
  right: 0;
  transform: translateX(15%);
}

.date {
  position: relative;
  padding: 0;
}

.date span {
  z-index: 2;
  position: relative;
  transform: translateY(50%);
  margin: 0;
  padding: 0;
}

.date t,
.date h1 {
  color: var(--secondary);
}

.date img {
  width: 100%;
  height: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  position: absolute;
}

button svg {
  overflow: visible;
}

button:focus-visible,
button:focus,
button:focus-within {
  border: none;
}

.line {
  filter: drop-shadow(3px 6px 2px #2f1b14a1);
}

.landingScreen {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.todaysEventsContainer {
  width: 80vw;
  padding: var(--space) 10vw;
  margin-bottom: var(--space);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
}

.article {
  width: 90vw;
  padding: 0vw 5vw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--space);
}

.articleSpan {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  width: 100%;
  gap: var(--space);
}

.articleSpanMinistry {
  display: grid;
  align-items: start;
  list-style: none;
  gap: var(--space);
  width: 80vw;
  grid-template-columns: 1fr auto;
  transition: 0.5 ease-in;
  margin-bottom: 1rem;
}

.articleSpanRow {
  display: flex;
  gap: var(--space);
}

.verse {
  color: var(--sixthly);
  text-align: center;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
  position: relative;
}

article:nth-of-type(3)>p {
  color: var(--fifthly);
  text-align: center;
  z-index: 1;
}

.ourChurch {
  width: 80vw;
  padding: var(--space) 10vw;
  margin-bottom: var(--space);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  gap: var(--space);
}

.donationSection {
  width: 80vw;
  padding: var(--space) 10vw;
  margin-bottom: var(--space);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  position: relative;
  gap: var(--space);
}

.lengthyTab {
  background: var(--secondary);
  border: 5px solid var(--fifthly);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 2rem;
  gap: var(--space);
  clip-path: polygon(1rem 0%,
      calc(100% - 1rem) 0%,
      calc(100% - 1rem) 1rem,
      100% 1rem,
      100% calc(100% - 1rem),
      calc(100% - 1rem) calc(100% - 1rem),
      calc(100% - 1rem) 100%,
      1rem 100%,
      1rem calc(100% - 1rem),
      0% calc(100% - 1rem),
      0% 1rem,
      1rem 1rem)
}

.lengthyTab::after {
  content: url('./img/cross.svg');
  display: inline-flex;
  justify-content: center;
  background: var(--fifthly);
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1rem;
}

.tabHeader {
  display: flex;
  position: relative;
  align-items: center;
  margin: 10px;
}

.tabHeader li:nth-of-type(1) {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--space);
}

.tabHeader li:nth-of-type(1) img {
  border: 5px solid var(--thirdly);
  object-fit: cover;
  object-position: 0% 0%;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
}

.tabHeader li:nth-of-type(1) li {
  width: min-content;
  display: flex;
  flex-direction: column;
  height: min-content;
  align-items: start;
  justify-content: center;
  gap: 0;
}

.tabHeader li li>* {
  margin: 0;
}

.tabHeader li h1,
.tabHeader li p {
  white-space: nowrap;
  height: min-content;
}

.sectionBoxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  gap: 30px;
}

.sectionBoxContainer span {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sectionBoxContainer p,
.sectionBoxContainer h3 {
  text-align: center;
  color: var(--fifthly);
  margin: 0;
}

.sectionBoxContainer>img {
  object-fit: cover;
}

footer {
  padding-top: 30px;
  width: 100vw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

footer span {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

footer span h3,
footer span p {
  color: var(--fifthly);
}

footer span ol:nth-of-type(3) {
  padding: 0;
  position: relative;
}

footer span ol:nth-of-type(3) ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

nav span:last-of-type svg,
footer span ol:nth-of-type(3) ul svg {
  width: 1rem;
  height: 1rem;
}

.pBtn,
.sBtn,
.tBtn,
.fBn {
  background: var(--thirdly);
  border-radius: var(--space);
  border: solid var(--fifthly);
  padding: calc(var(--space) / 2);
}

.tBtn {
  box-shadow: 0px 10px 0px var(--fourthly);
}

.pBtn {
  box-shadow: 0px 10px 0px var(--fifthly);
}

.sBtn h2 {
  color: var(--fifthly);
}

.lengthyTab p,
.lengthyTab h1 {
  text-align: start;
  padding: 0;
  margin: 0;
}

footer h2 {
  color: var(--sixthly);
}

.eventTab {
  z-index: 1;
  border: solid var(--thirdly);
  border-radius: 20px;
  border-width: 5px 5px 5px 20px;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
  padding-left: var(--space);
  background: linear-gradient(91deg, rgba(194, 171, 77, 1) 44%, rgba(194, 171, 77, 0) 100%);
}

.slideshow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.slideshow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%;
}

.slideshow::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  background: #A08A2C;
  background: linear-gradient(0deg, rgba(160, 138, 44, 1) 2%, rgba(160, 138, 44, 0) 30%);
  pointer-events: none;
}

.crossContainer {
  position: absolute;
  z-index: 10;
  left: 0;
  bottom: 0;
  display: flex;
  flex-grow: 1;
  width: 100%;
  justify-content: center;
  margin-bottom: var(--space);
}

.tabs {
  overflow-y: scroll;
  max-height: 50vh;
  width: auto;
  overflow-x: hidden;
  scrollbar-color: var(--fourthly) transparent;
  scrollbar-width: thick;
  display: none;
  position: relative;
}

.creed::first-letter,
.introduction::first-letter {
  float: left;
  font-size: 2rem;
  line-height: 1;
  margin-right: calc(var(--space) / 2);
  font-family: BoucherieBlockBold;
}

.trinityExplain p:nth-of-type(1)::first-letter {
  float: left;
  font-size: 1rem;
  line-height: 1;
  margin-right: 0.02rem;
  font-family: BoucherieBlockBold;
}

.bottom {
  z-index: 2;
}

.doo>img {
  z-index: 0;
}

.introduction b {
  color: var(--fifthly);
}

.introduction {
  color: var(--fifthly);
}

.scene {
  position: absolute;
  left: 0;
  width: 100vw;
  height: auto;
  object-fit: cover;
  object-position: 0% 0%;
}

.addressSection .iconHeader h2,
.addressSection .iconHeader p {
  color: var(--sixthly);
}

.trinity>div {
  gap: var(--space);
  display: flex;
  align-items: center;
  width: 100%;
}

.trinity div t {
  letter-spacing: 0.1rem;
  text-align: start;
}

.trinity div h1 {
  text-align: start;
}

.formattedArticle {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding-left: 10vw;
  padding-right: 10vw;
  height: min-content;
  justify-content: start;
  gap: var(--space);
  height: min-content;
}

.mapFrame {
  width: 100vw;
  height: 100vh;
}

.daysHeader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
}

.daysHeader h2 {
  text-align: center;
  background: var(--fifthly);
}

.calenderContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 100%;
  height: 100%;
}

.calendarBox {
  padding: var(--space);
  background: var(--sixthly);
  border: var(--border) solid var(--fifthly);
}

.titleContainer {
  display: flex;
  flex-direction: column;
}

.ministryGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  justify-content: space-between;
}

.ministriesMenu>li {
  width: 100%;
}

.transitionContainer {
  opacity: 0;
  transform: translateY(10px);
  animation: fadeSlideIn 0.4s forwards;
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.eventItem {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 0.5rem 0;
  background: white;
}

.dayEvent {
  list-style-type: circle;
  background: var(--fifthly);
  border-radius: var(--space);
  padding: calc(var(--space) / 2);
  margin-bottom: var(--space);
}

.lengthyTabOutline {
  list-style: none;
  background: none;
  border: 5px solid var(--sixthly);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  width: 80vw;
  padding: 1rem;
  padding-top: 0.5rem;
  gap: calc(var(--space) * 2);
  clip-path: polygon(1rem 0%,
      calc(100% - 1rem) 0%,
      calc(100% - 1rem) 1rem,
      100% 1rem,
      100% calc(100% - 1rem),
      calc(100% - 1rem) calc(100% - 1rem),
      calc(100% - 1rem) 100%,
      1rem 100%,
      1rem calc(100% - 1rem),
      0% calc(100% - 1rem),
      0% 1rem,
      1rem 1rem)
}

.lengthyTabOutline::after {
  content: url('./img/cross.svg');
  display: inline-flex;
  justify-content: center;
  background: var(--sixthly);
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 1rem;
}

.lengthyTabOutline * {
  color: var(--sixthly);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.loadContainer {
  width: 100vw;
  height: 100%;
  position: fixed;
  opacity: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
  pointer-events: none;
  animation: fadeIn 0.25s cubic-bezier(.21, -0.04, .56, 1.31) forwards;
  background: var(--thirdly);
}

.loadContainer.fadeOut {
  animation: fadeOut 1s cubic-bezier(.21, -0.04, .56, 1.31) forwards;
}

.loadContainer span {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  height: min-content;
}

.loadingPath {
  animation-name: drawPath;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

.st6 {
  stroke-width: var(--space);
  transition: stroke-dashoffset 0.5s ease-in-out;
}

.st6.nonActive {
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.st6.active {
  stroke-dasharray: 1600;
  stroke-dashoffset: 1600;
}

.loadingAnimation {
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-name: loading;
}

@keyframes loading {
  from {
    stroke-dashoffset: 1600;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.trinitySvg {
  position: absolute;
  mix-blend-mode: darken;
  opacity: 60%;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
}

#water003 svg path,
#water001 svg path,
#water002 svg path {
  fill: var(--fifthly);
  stroke: none;
  stroke-width: calc(var(--border) / 2.5);
}

#water003,
#water001 {
  animation: slideLeft 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

#water002 {
  animation: slideRight 1.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.figures div:nth-of-type(1) {
  animation: popUp 1s ease-in-out;
  animation-delay: 0s;
}

.figures div:nth-of-type(2) {
  animation: popUp 1s ease-in-out;
  animation-delay: 0.5s;
}

.figures div:nth-of-type(3) {
  animation: popUp 1s ease-in-out;
  animation-delay: 1s;
}

@keyframes slideLeft {
  from {
    transform: translateX(-25vw);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(25vw);
  }

  to {
    transform: translateX(0px);
  }
}

@keyframes popUp {
  from {
    transform: translateY(500px);
  }

  to {
    transform: translateY(0px);
  }
}

.figures {
  width: 100%;
  height: 100%;
}

.figures div {
  margin: 0;
  padding: 0;
  z-index: 2;
}

.figures #Jesus {
  height: 100%;
}

.parentFolder {
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.parentFolder img {
  -webkit-filter: drop-shadow(4spx 4px 2px var(--fifthly));
  filter: drop-shadow(4px 4px 2px var(--fifthly));
}

.parentFolder h2 {
  margin: 2rem;
}

.menuContainer * {
  z-index: 999;
}

.bunWipe {
  animation: swipeBun 0.25s ease-in forwards;
}

@keyframes swipeBun {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(500px);
  }
}