* {
  font-size: 30px;
}

:root {
  --primary: #C2AB4D;
  --secondary: #C2AB4D;
  --thirdly: #F8E79F;
  --fourthly: #f4eabc;
  --fifthly: #706444;
  --sixthly: #2f1b14;
  --space: 0.5rem;
  --border: 0.2rem;
  --paddingSides: 10vw;
  --pageWidth: 80vw;
}

t {
  font-size: 2rem;
  letter-spacing: 0.25rem;
  color: var(--fourthly);
  text-transform: uppercase;
  font-family: BoucherieBlockBold;
  font-weight: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  font-size: 1.25rem;
  color: var(--thirdly);
  font-family: BoucherieBlockBold;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  font-weight: none;
}

h2 {
  font-size: 0.75rem;
  color: var(--thirdly);
  font-family: BoucherieBlock;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
  font-weight: none;
}

p,
a {
  font-size: 0.7rem;
  color: var(--thirdly);
  font-family: BoucherieSansBold;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
  font-weight: none;
}

q {
  font-size: 0.6rem;
}

i {
  font-size: 0.6rem;
}

b {
  font-size: 0.6rem;
  font-weight: bolder;
  color: var(--fourthly);
  font-family: BoucherieSansInline;
  letter-spacing: 0.05rem;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: BoucherieBlock;
  src: url('./fonts/Boucherie/Boucherie\ Block.ttf');
}

@font-face {
  font-family: BoucherieBlockBold;
  src: url('./fonts/Boucherie/Boucherie\ Block\ Bold.ttf');
}

@font-face {
  font-family: BoucherieFlared;
  src: url('./fonts/Boucherie/Boucherie\ Flared.ttf');
}

@font-face {
  font-family: BoucherieFlaredBold;
  src: url('./fonts/Boucherie/Boucherie\ Flared\ Bold.ttf');
}

@font-face {
  font-family: BoucherieSansBold;
  src: url('./fonts/Boucherie/Boucherie\ Sans\ Bold.ttf');
}

@font-face {
  font-family: BoucherieSansInline;
  src: url('./fonts/Boucherie/Boucherie\ Sans\ Inline.ttf');
}

.iconSize {
  width: 1rem;
  height: 1rem;
}

.smallIcon {
  width: 0.6rem;
  height: 0.6rem;
}

.imgBox {
  width: 8rem;
  height: 8rem;
}

.iconHeader {
  display: inline-flex;
  align-items: center;
  height: min-content;
  margin: 0;
  gap: var(--space);
}

@media screen and (max-width: 1440px) and (min-width: 900px) {
  * {
    font-size: 30px;
  }
}

@media screen and (max-width: 900px) and (min-width: 465px) {
  * {
    font-size: 30px;
  }
}