.st0 {
    fill: #C2AB4C;
    stroke: #A08A30;
    stroke-width: 4px;
    stroke-miterlimit: 10;
}

.st1 {
    fill: #D9BE51;
}

.st2 {
    fill: #9F892F;
}

.st3 {
    fill: #EAE79F;
}

.st4 {
    fill: #C2AB4C;
}

.st5 {
    fill: #6E6243;
}

.st6 {
    fill: #E8E79F;
    stroke: #6E6243;
    stroke-width: 4px;
    stroke-miterlimit: 10;
}

.st7 {
    fill: #EDE79F;
}

.st8 {
    fill: #6F6344;
}

.st9 {
    stroke: #806E26;
    stroke-miterlimit: 10;
    stroke-dasharray: 0 0 0 0 0 0;
    /* This is an SVG-specific property. In CSS, 'stroke-dasharray' maps directly. */
}

.st10 {
    fill: #9F892E;
}

.st11 {
    fill: none;
}

.st12 {
    fill: #E3E69D;
    stroke: #6F6344;
    stroke-miterlimit: 10;
}

.st13 {
    fill: #E4E69E;
    stroke: #6F6344;
    stroke-miterlimit: 10;
}

.st14 {
    fill: #E5E79F;
    stroke: #6F6344;
    stroke-miterlimit: 10;
}

.st15 {
    fill: #E6E79F;
    stroke: #6F6344;
    stroke-miterlimit: 10;
}

.st16 {
    fill: #E8E79F;
    stroke: #6F6344;
    stroke-miterlimit: 10;
}

.st17 {
    fill: #EAE79F;
    stroke: #6E6243;
    stroke-miterlimit: 10;
}

.st18 {
    fill: #EBE79F;
    stroke: #6E6243;
    stroke-miterlimit: 10;
}

.st19 {
    fill: #EDE79F;
    stroke: #6E6243;
    stroke-miterlimit: 10;
}

.st20 {
    fill: #E8E79F;
}

.st21 {
    fill: #6F6343;
}

.st22 {
    fill: #EFE79F;
}

.st23 {
    fill: #EBE79F;
}

.st24 {
    opacity: 0.85;
}

.st25 {
    fill: #C2AC4D;
}

.st26 {
    fill: #C7B458;
}

.st27 {
    fill: #EFE79F;
    stroke: #6F6344;
    stroke-miterlimit: 10;
}

.rightHandAnim {
    animation: rightArmMotion 2s ease-in-out forwards;
    transform-origin: center center;
}

.leftHandAnim {
    animation: leftArmMotion 2s ease-in-out forwards;
    transform-origin: center center;
}

.bodyAnim {
    animation: bodyMotion 2s ease-in-out forwards;
    transform-origin: center center;
}

.headAnim {
    animation: headMotion 2s ease-in-out forwards;
    transform-origin: center center;
}

.scrollAnim {
    animation: headMotion 2s ease-in-out forwards;
    transform-origin: center center;
}

.Layer_27,
.Layer_29 {
    animation: headMotion 2s ease-in-out forwards;
    transform-origin: center center;
}

.StMarkIcon {
    overflow: visible;
}

.angelFloatAnim {
    animation: floating 2s ease-in-out forwards;
}

@keyframes leftArmMotion {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    100% {
        transform: rotate(-15deg) translate(10px, -30px);
    }
}

@keyframes rightArmMotion {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    100% {
        transform: rotate(-15deg) translate(20px, -45px);
    }
}

@keyframes bodyMotion {
    0% {
        transform: rotate(0deg) translate(0px, 5px);
    }

    100% {
        transform: rotate(5deg) translate(20px, 20px);
    }
}

@keyframes headMotion {
    0% {
        transform: rotate(0deg) translate(0px, 0px);
    }

    100% {
        transform: rotate(-10deg) translate(30px, -10px);
    }
}

@keyframes floating {
    0% {
        transform: translateY(-500px);
    }

80% {
    transform: translateY(20px);
}

    100% {
        transform: translateY(0px);
    }
}